:host {
  display: inline-flex;
  height: 2.25rem;

  button {
    background-color: var(--primary-surface);
    border: 1px solid transparent;
    border-radius: var(--radius-small);
    box-sizing: border-box;
    color: var(--primary-text);
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 0.8rem;
    font-weight: 600;
    height: 2.25rem;
    min-width: 4rem;
    padding: var(--spacing-extra-tight) var(--spacing-default);
    transition: 0.3s all;

    &:hover {
      background-color: var(--primary-hover-surface);
    }

    &:active {
      background-color: var(--primary-pressed-surface);
    }

    &:focus-visible {
      border-color: var(--primary-focus-border);
      outline: var(--primary-outline);
    }
  }
}

:host([size="small"]) {
  height: 1.75rem;

  button {
    font-size: 0.65rem;
    height: 1.75rem;
    min-width: 3rem;
    padding: var(--spacing-extra-tight) var(--spacing-small);
  }
}

:host([variant="secondary"]) button {
  background-color: var(--secondary-surface);
  border-color: var(--secondary-border);
  color: var(--secondary-text);

  &:hover {
    background-color: var(--secondary-hover-surface);
  }

  &:active {
    background-color: var(--secondary-pressed-surface);
  }

  &:focus-visible {
    border-color: var(--secondary-focus-border);
    outline: var(--secondary-outline);
  }
}

:host([variant="tertiary"]) button {
  background-color: var(--tertiary-surface);
  color: var(--tertiary-text);

  &:hover {
    background-color: var(--tertiary-hover-surface);
  }

  &:active {
    background-color: var(--tertiary-pressed-surface);
  }

  &:focus-visible {
    outline: var(--tertiary-outline);
  }
}
