:host {
  --spacing-none: 0;
  --spacing-extra-tight: 0.25rem;
  --spacing-tight: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-default: 1rem;
  --matt-font: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --radius-none: 0;
  --radius-small: 0.25rem;

  $main-blue: #007fff;

  --neutral-000: #fff;
  --neutral-500: #222;
  --blue-100: #caf0f8;
  --blue-300: #{lighten($main-blue, 10%)};
  --blue-400: #{lighten($main-blue, 5%)};
  --blue-500: #{$main-blue};
  --blue-600: #{darken($main-blue, 10%)};
  --blue-700: #{darken($main-blue, 20%)};
  --primary-cta: var(--blue-500);
  --primary-surface: var(--blue-500);
  --primary-text: var(--neutral-000);
  --primary-hover-surface: var(--blue-400);
  --primary-pressed-surface: var(--blue-300);
  --primary-focus-border: var(--blue-600);
  --primary-outline: 2px solid var(--blue-100);
  --secondary-surface: var(--neutral-000);
  --secondary-text: var(--primary-surface);
  --secondary-border: var(--primary-surface);
  --secondary-hover-surface: #{lighten($main-blue, 48%)};
  --secondary-pressed-surface: #{lighten($main-blue, 45%)};
  --secondary-focus-border: var(--primary-focus-border);
  --secondary-outline: 3px solid var(--blue-100);
  --tertiary-surface: transparent;
  --tertiary-text: var(--primary-surface);
  --tertiary-hover-surface: #{lighten($main-blue, 48%)};
  --tertiary-pressed-surface: #{lighten($main-blue, 45%)};
  --tertiary-outline: 3px solid var(--blue-100);
  --inverse-01: var(--neutral-500);
}
