@import "../../sass/utils";

:host {
  a {
    @include component();

    color: var(--primary-cta);

    &:hover {
      text-decoration: none;
    }

    &:focus-visible {
      outline: var(--primary-outline);
    }
  }
}
